//
// Basic Styles
// --------------------------------------------------

html {
  height: 100%;
}

body {
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.contentwrapper {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  @media sreen and (max-height: 600px){
    max-height: 80vh;
  }
}

section {
  margin: 0;
  width: 100%;
  overflow-x: scroll !important;
}

.content {
  overflow-x: visible;
  height: 100%;
  width: auto;
  position: relative;
  white-space: nowrap;
}


h1 {
  color: $text-mid-color;
  margin-bottom: 15px;
  padding: 20px 0 0 20px;
  text-transform: uppercase;
}

h2 {
  padding: 20px 0 15px;
}

ul {
  list-style-type: none;
}

p {
  margin: 20px 0;
}

a {
  text-decoration: none;
}

article {
  margin: 0 20px 0 0;
  &:first-child {
    margin-top: 0;
  }
}
.contentwrapper {
  overflow: scroll;
}

.column {
  max-width: 400px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: column;
  padding: 1px;
  margin-right: 20px;
  @media all and (max-width: 400px) {
    max-width: calc(95vw - 20px);
  }
}

aside {
  margin: 0 0 20px 0;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.flexed-header {
  flex: 0 0 70px;
  flex-direction: column;
  padding: 1px;
}

.inner-flexed {
  flex: 1;
  flex-direction: column;
  padding: 1px;
  align-self: stretch;
}
