//
// Basic Styles
// --------------------------------------------------

body {
  background-color: $body-bg;
}

.contentwrapper {
  margin-top: 60px;
}

section {
  margin: 0;
  width: 100%;
  overflow: scroll !important;
}

.content {
  overflow-x: visible;
  width: 3000px;
  position: relative;
  top: 0;
  left: 0;
}

h1 {
  color: $dark-text-color;
  margin: 30px 0 30px 20px;
  text-transform: uppercase;
  //-moz-user-select: none;
  //user-select: none;
}

h2 {
  padding: 20px 0 15px;
}

ul {
  list-style-type: none;
}

p {
  margin: 20px 0;
}

a {
  text-decoration: none;
}

article {
  margin: 15px 15px 15px 0;
  &:first-child {
    margin-top: 0px;
  }
}
.contentwrapper {
  overflow: scroll;
}
main {
  height: 600px;
}

.column {
  @include float(left);
  @include clearfix;
  margin: 0 20px 20px 0;
  //display: inline-block;
  //vertical-align: top;
  //white-space: nowrap;
}
