//
// Styles for detail view
// --------------------------------------------------

.detail {
  background: $white;

  h1 {
    font-family: $font-family-sans-bold;
    font-weight:$font-weight-bold;
    color: $light-blue;
    border-bottom: 3px dotted $light-blue;
    margin-right: 20px;
    padding-bottom: 15px;
  }
  .content {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  h2 {
    display: none;
    padding: 0;
    margin: 0;
  }
  .column {
    display: none;
    height: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
    &.excerpt {
      height: 600px;
      display: block;
      visibility: visible;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $white;
      width: 100%;
      border-radius: 0;
      margin: auto auto;
    }
  }
  .contentfragment {
    max-height: 63vh;
    overflow: scroll;
    padding: 0 20px;
  }
  .more {
    display: none;
  }
}
.fadein {
  opacity: 1.0;
  transition: opacity 2s;
}

.fadeout {
  opacity: 0.0;
  transition: opacity 2s;
}