//
// Excerpt Box
// --------------------------------------------------

.excerpt {
  @include box(100%, 0 20px 10px, $text-dark-color, $box-bg-light-color);
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;

  // Height of excerpt-text
  .contentfragment {
    @include contentfragment(360px);
  }

  h2 {
    @include box-dashed-heading(2px, $accent-color);
    color: $accent-color;
    font-family: $font-family-sans-serif;
  }

  p {
    line-height: 25px;
  }

  .description {
    font-style: italic;
  }
  .speaker {
    text-transform: uppercase;
  }
  .description-text,
  .speaker,
  .text {
    display: block;
  }

  .more {
    color: $accent-color;
    &:before {
      @include more(url("../img/Pfeil02.png"));
    }
    > span {
      padding: 0 0 0 60px;
      line-height: 40px;
    }
  }
}
