//
// Footer
// --------------------------------------------------

footer {
  @include background-image(linear-gradient($gray-darker, black));
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  color:$link-color-default;
  font-size: $font-size-base;
  font-family: $font-family-sans-bold;
  background-color: black;
  nav {
    border: 1px solid transparent;
  }
  ul {
    display: table;
    vertical-align: middle;
    margin: .8em 0;
    float: none;
    &:before {
      content: " ";
      display: table;
    }
  }
  li {
    display: table-cell;
    //text-align: center;
    padding-bottom: 0;
    margin: 0;
    height: 30px;
    text-tranform: uppercase;
  }
  a {
    color: $link-color-default;
    display: block;
    padding: 0 16px;
    white-space: nowrap;
    border-right: 4px solid $link-color-default;
    border-right-color: $link-color-default;
    //line-height: 58px;
    font-size: $font-size-base;
    &:hover,
    &:active {
      color: $link-color-active;
    }
  }
}