//
// Header
// --------------------------------------------------

header {
  @include background-image(linear-gradient($gray-darker, black));
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  color: $link-color-default;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;

  a {
    color: inherit;
    padding: 0 0 0 20px;
    position: absolute;
    &:before {
      content:'←';
      padding-right: 10px;
      position: relative;
      top: 6px;
      left: 0px;
    }
    &:hover,
    &:active {
      color: $link-color-active;
    }
  }
}