//
// Header
// --------------------------------------------------

header {
  flex: 0 0 60px;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  @include background-image(linear-gradient($gray-darker, black));
  width: 100%;
  min-width: 100%;
  text-transform: uppercase;
  color: $link-color-default;
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: 1px;
  a {
    color: inherit;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px 0 0 56px;
    display: block;
    height: 40px;
    &:before {
      content:'←';
      padding-right: 10px;
      position: absolute;
      top: 0;
      left: -40px;
    }
    &:hover,
    &:active {
      color: $link-color-active;
    }
  }
}