//
// Imagebox: Zeitdokumente
// --------------------------------------------------

#zeitdokumente {
  @include box(360px, 0 20px 10px, $lightest-text-color, $darker-bg-color);
  height: auto;

  h2 {
    @extend .box-list-heading;
    @include box-dashed-heading(1px, $lightest-text-color);
  }

  figure {
    margin: 0 0 10px 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 10px dashed $primary-color;
    border-image: url("../img/Strich01.png") 0 25 300 7 stretch;
  }

  figcaption {
    margin: 0 0 10px 0;
  }

  img {
    margin: 30px 0px 20px;
    padding: 0px;
    height: 100%;
    width: 100%;
  }
}
