//
// Imagebox: Zeitdokumente
// --------------------------------------------------

#zeitdokumente {
  @include box(400px, 20px, $lightest-text-color, $darker-bg-color);
  //max-height: 360px;
  height: auto;
  padding-bottom: 10px;

  h2 {
    @extend .box-list-heading;
    @include box-dashed-heading(1px, $lightest-text-color);
  }

  figure {
    margin: 0px;
    padding: 10px;
    border-image: url("../img/Strich01.png") 0 0 300 0 stretch;
    border-bottom: 10px dashed $primary-color;
  }
  img {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: auto;
    //max-height: 200px;
    //max-width: 180px;
  }
}
