//
// Introbox: Box fuer Einfuehrungstext
// --------------------------------------------------

.einfuehrungstext {
  @include box(600px, 0 30px 20px, $text-contrast-color, $box-bg-accent-color);
  line-height: 27px;
  h2 {
    line-height: 40px;
  }
  > div {
    margin: 15px 0 0 8px;
  }

  // Height of excerpt-text
  .contentfragment {
    @include contentfragment(420px);
  }

  // Component for 'Read More'- Link plus arrow icon
  .more {
    color: $text-contrast-color;
    &:before {
      @include more(url("../img/Pfeil_weiss01.png"));
    }
    span {
      padding: 0 0 0 60px;
      line-height: 40px;
    }
  }
}

