//
// Linkbox: Verknuepfungen
// --------------------------------------------------

.verknuepfungen {
  @include box(360px, 0 20px 0, $text-mid-color, none);
  border: 1px dashed $text-mid-color;
  h2 {
    @extend .box-list-heading;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 20px 0;
    margin: 0;
    border-top: 1px dashed $text-mid-color;
    a {
      color: inherit;
      padding: 0;
      margin: 0;
      &:hover,
      &:active {
        color: $link-color-active;
      }
    }
  }
}
