//
// Media And Comment Boxes
// --------------------------------------------------

.mediaboxes {
  width: 100%;
  @media screen and (max-width: 400px) {
    width: 91vw;
    padding-right: 0;
  }
  @media screen and (min-width: 401px) {
    padding-right: 1.7em;
  }
}

.mediabox {
  @include box(100%, 0 20px 10px, $text-mid-color, $box-bg-dark-color);
  @media screen and (max-width: 400px) {
    width: 80vw;
  }
  font-family: $font-family-sans-serif;
  line-height: 30px;
  margin: 0 0 20px 0;
  position: relative;
  h2 {
    @extend .box-list-heading;
    color: $accent-color;
    font-family: $font-family-sans-serif;
    a {
      color: inherit;
    }
  }
  i:after {
    content:'';
    background: url("../img/Pfeil02.png") no-repeat;
    position: absolute;
    width: 50px;
    height: 40px;
    top: 14px;
    right: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 20px 0;
    margin: 0;
    border-top: 1px dashed $text-mid-color;
    a {
      color: inherit;
      padding: 0;
      margin: 0;
      &:hover,
      &:active {
        color: $link-color-active;
      }
    }
  }
}