//
// Mixins
// --------------------------------------------------

@mixin box($box-width, $box-padding, $color, $background) {
  width: $box-width;
  padding: $box-padding;
  color: $color;
  background: $background;
  border-radius: 4px;
}

@mixin more($background) {
  background: $background;
  content:'';
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 40px;
}

@mixin box-dashed-heading($value, $color) {
  border-bottom: $value dashed $color;
}

@mixin contentfragment($max-height) {
  max-height: $max-height;
  margin: 0;
  overflow: hidden;
  padding: 0 0 27px 0;
}
