//
// Object Box
// --------------------------------------------------

.object {
  @include box(100%, 0 20px 10px, $gray-lighter, $white);
  max-width: 500px;
  h2 {
    @include box-dashed-heading(2px, $lighter-text-color);
    }
  figure {
    margin: 0px;
    padding: 20px 0 0;
  }
  .object-image {
    width: 100%;
    height: 100%;
  }
}
