//
// Object Box
// --------------------------------------------------

.object {
  @include box(100%, 0 20px 15px, $text-color, $white);
  @media screen and (max-width: 400px) {
    width: 80vw;
  }
  position: relative;
  h2 {
    @include box-dashed-heading(2px, $primary-color);
  }
  > input {
    display: inline;
    position: absolute;
    top: 26px;
    right: 15px;
    width: 19%;
    &:focus {
      outline: none;
    }
  }
  figure {
    margin: 0px;
    padding: 25px 0 0;
  }
  .object-image {
    height: auto;
    width: 100%;
    @media screen and (max-width: 400px) {
      height: auto;
      width: 70vw;
    }
  }
}
