//
// Typography
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Amiri:400,700,400italic);

body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-normal;
  font-style: normal;
  @media screen and (max-width: 560px) {
    font-size: $font-size-small-h1;
  }
}

h2 {
  line-height: 40px;

  @media screen and (max-width: 560px) {
    font-size: $font-size-small-h2;
  }
}

p {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  @media screen and (max-width: 560px) {
    font-size: $font-size-small;
  }
}

header {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  a {
    font-weight: $font-weight-bold;
    line-height: 27px;
  }
}

footer {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  li {
    text-tranform: uppercase;
  }
  a {
    font-size: $font-size-base;
  }
}

.einfuehrungstext {
  font-family: $font-family-serif;
  font-weight: $font-weight-boldest;
  h2 {
    font-size: $font-size-h2;
  }
  .contentfragment {
    font-weight: $font-weight-normal;
    font-style: normal;
    font-size: $font-size-base;
  }
}

.zeitdokumente {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  font-style: normal;
  h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    font-style: normal;
  }
  figcaption {
    font-size: $font-size-base;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
  }
}

.verknuepfungen {
  text-transform: uppercase;
  h2 {
    font-family: $font-family-sans-serif;
    font-size: $font-size-small-h2;
    font-weight: $font-weight-normal;
    font-style: normal;
  }
  li a {
    font-family: $font-family-sans-serif;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
  }
}

