//
// Variables
// --------------------------------------------------

// Colors
$gray-darker: rgb(45,45,45);
$gray-dark: rgb(90,90,90);
$gray: rgb(77,77,77);
$gray-light: rgb(204,204,204);
$gray-lighter: rgb(179,179,179);
$gray-lightest: rgb(242,242,242);
$white: rgb(255,255,255);
$light-blue: rgb(63,169,245);

$body-bg:  $gray-dark !default;
$darker-bg-color: $gray-darker;
$dark-contrast-text-color: $gray;
$dark-text-color: $gray-light !default;
$lighter-text-color: $gray-lighter;
$lightest-text-color: $gray-lightest !default;
$contrast-text-color: $white;
$primary-color: $light-blue !default;
$light-bg: $white !default;
$dark-bg: $gray-darker !default;

$link-color-default: rgb(128,128,128);
$link-color-active: $white;

// Fonts
$font-family-sans-serif: "Avenir Medium", sans-serif;
$font-family-sans-bold: "Avenir Black", sans-serif;
$font-family-sans-light: "Avenir Roman", sans-serif;
$font-family-serif: "Marion Regular", serif;
$font-family-bold: "Marion Bold", serif;

$font-size-base: 20px !default;                        // 30pt/2
$font-size-small: 13px !default;                       // 20pt/2

$font-size-h1: floor($font-size-base * 2) !default;    // 40px 60pt/2
$font-size-small-h1: floor($font-size-base * 1.5) !default;    // 30px
$font-size-h2: floor($font-size-base * 1.5) !default; // 30px eigene Modifizierung! (original: 40pt/2)
$font-size-small-h2: $font-size-base !default;         // 20px 30pt/2

$font-weight-normal: 300;
$font-weight-bold: 400;